{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!-- Heading -->
        <h2 class="my-5 text-center">Contact Us</h2>
        
<form action="{% url 'toko:success' %}" method="post" name="ContactForm">
    {% csrf_token %}
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
            <!--Card-->
            <div class="card p-4">
                <!--Grid row-->
                
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <hr />
    <button class="btn btn-primary" type="submit" value="submit" >Submit</button></div></div>

    <div class="col-md-4 mb-4">
        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">got question?</span>
        </h4>
        <a>Our team will be happy to help you!</a>
        <p>Contact us or submit your questions via the form</p>

        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">
                <!--Card-->
                <div class="card p-4" style="color: #ec8389;">

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-10 mb-0">
                        <p class=" text-danger"
                        data-mdb-ripple-color="dark">
                        <i class="far fa-envelope"></i>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-10 col-md-2 mb-0">
                        <p class="mb-0">
                        cs@skinshop.com
                        </p>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-2 col-md-10 mb-0">
                        <p class=" text-danger"
                        data-mdb-ripple-color="dark">
                        <i class="far fa-message"></i>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-10 col-md-2 mb-0">
                        <a class="mb-0" href="#" style="color:#ec8389">
                        <u>Chat with us!</u>
                        </a>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
               
            </div>

    </div>
 </form>

 

</main>
<!--Main layout-->
{% endblock content %}