<!-- Footer -->
<footer class="text-center text-white mt-1" style="background-color: #ec8389">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center">
    <!-- Left -->
    <div class="p-1 col-md-8">
      <!-- Facebook -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Instagram -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
        ></a>
      <!-- Twitter -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-line"></i></a>
      <!-- Google -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-youtube"></i
      ></a>
      <!-- YouTube -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="p-3 col-md-9"> 
    Customer Care: <u>cs@skinshop.com</u>
    </div>
   <!-- Rught -->

  </section>
</hr>
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
    <script>document.write(new Date().getFullYear());</script> © 
    PT. Skin Shop Indonesia. All Right Reserved.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->