{% extends 'base.html' %}

{% load static %}
{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">{{ object.get_kategori_display }}</span>
                        </a>
                        {% if object.label == 'NEW' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">New</span>
                        </a>
                        {% elif object.label == 'SALE' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Sale</span>
                        </a>
                        {% else %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Bestseller</span>
                        </a>
                        {% endif %}
                    </div>

                    <p class="lead">
                        {% if object.harga_diskon %}
                        <span class="me-1">
                            <del>${{ object.harga }}</del>
                        </span>
                        <span>${{ object.harga_diskon }}</span>
                        {% else %}
                        <span>${{ object.harga }}</span>
                        {% endif %}
                    </p>

                    <strong><p style="font-size: 20px;">Deskripsi</p></strong>

                    <p>{{ object.deskripsi }}</p>
                    <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary ms-1">
                        Tambah ke keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                    <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger ms-1" >
                        Kurangi keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        
            <!--Grid row-->
            <hr />

            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Review</h4>
                        {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'toko:product' %}" class="">
                            {% csrf_token %}
                            <div class="mb-2">
                                <label>Rating</label><br>
                                <select name="rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>

                            <div class="mb-2">
                                <label>Comment</label><br>
                                <textarea name="content" class=""></textarea>
                            </div>

                            <div>
                                <button class="btn btn-info">Submit</button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <!--Grid column-->

                {% for review in product.reviews.all %}
                <div class="">
                    <strong>Rating:</strong> {{ review.rating }}/6<br>
                    <strong>Date:</strong> {{ review.created_at|date:"Y-m-d" }}<br>
                    <strong>Comment:</strong><br>
                    {{ review.content }}
                </div>
                {% endfor %}
            </div>
        
        
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-md-0 text-align-left">
                    <h4 class="my-4 h5"><b>People Also Buy</b></h4>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row text-center">
                <!--Grid column-->
                <div class="col-lg-4 col-md mb-3">
                    <a href="http://127.0.0.1:8000/product/cetaphil_bodyl/"><img src="{% static 'img/cetaphillotion.png' %}" alt="cetaphillotion" class="w-50"/></a>
                    <br><font size="2"><b>CETAPHIL Ultra Gentle Body Wash</b></font>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="http://127.0.0.1:8000/product/cetaphil_sunscreen/"><img src="{% static 'img/cetaphilsunscreen.png' %}" alt="cetaphilsunscreen" class="w-50"/></a>
                    <br><font size="2"><b>CETAPHIL UVA/UVB Defense SPF50</b></font>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="http://127.0.0.1:8000/product/cetaphil_reveal/"><img src="{% static 'img/cetaphilultra.jpg' %}" alt="cetaphillotion" class="w-50"/></a>
                    <br><font size="2"><b>CETAPHIL Brightening Body Lotion</b></font>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
</main>
<!--Main layout-->
{% endblock content%}
